In [8]:
import pandas as pd

In [9]:
file_path = r"C:\Users\JUMIA-4237\Desktop\Mr Lanre\DATA_LOGIS.csv"

In [10]:
log = pd.read_csv(file_path)

C:\Users\JUMIA-4237\AppData\Local\Temp\ipykernel_15840\920203071.py:1: DtypeWarning: Columns (18,19,21,23,24) have mixed types. Specify dtype option on import or set low_memory=False.
  log = pd.read_csv(file_path)

In [56]:
log.head(2)

,TXN NO,MAIN FTN CODE,Vehicle Number,Txn Code,REGION,SUBZONE,USED AS,VEHICLE TYPE,CR DT,Main FTN,...,END_TIME,TRACKER,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
0,1350073,FT004,AKD187YA,FTBLAL,LAGOS,LAGOS 2,DELIVERY TRUCK,DELIVERY TRUCK,06-Mar-24,LOADING,...,01/05/2024 08:45,LAWAL ADETUNEJI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1377863,FT006,KSF591XX,FTBLTW,Kano,NORTH 1,DELIVERY TRUCK,DELIVERY TRUCK,01-Apr-24,WORKSHOP,...,01/05/2024 15:08,BUHARI MONSURU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
log_c = log.dropna(axis=1)

In [58]:
log_c.head(3)

,TXN NO,MAIN FTN CODE,Vehicle Number,Txn Code,REGION,SUBZONE,USED AS,VEHICLE TYPE,CR DT,Main FTN,TRIP_status,Sub FTN,TIME SERIES,FLEET STATUS,START_TIME,END_TIME,TRACKER
0,1350073,FT004,AKD187YA,FTBLAL,LAGOS,LAGOS 2,DELIVERY TRUCK,DELIVERY TRUCK,06-Mar-24,LOADING,0,AWAITING LOADING,NO-Loading Oder,No loading order,01/05/2024 00:00,01/05/2024 08:45,LAWAL ADETUNEJI
1,1377863,FT006,KSF591XX,FTBLTW,Kano,NORTH 1,DELIVERY TRUCK,DELIVERY TRUCK,01-Apr-24,WORKSHOP,0,WORKSHOP,WORKSHOP,WORKSHOP,01/05/2024 00:00,01/05/2024 15:08,BUHARI MONSURU
2,1381366,FT006,SGM514ZR,FTBLTW,LAGOS,SOUTH WEST,DELIVERY TRUCK,DELIVERY TRUCK,03-Apr-24,WORKSHOP,0,WORKSHOP,WORKSHOP,WORKSHOP,01/05/2024 00:00,29/05/2024 15:00,ITUNU ALAUSA

In [59]:
log_c['START_TIME'] = pd.to_datetime(log_c['START_TIME'], format='%d/%m/%Y %H:%M')
log_c['END_TIME'] = pd.to_datetime(log_c['END_TIME'], format='%d/%m/%Y %H:%M')

C:\Users\JUMIA-4237\AppData\Local\Temp\ipykernel_15840\3951537735.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  log_c['START_TIME'] = pd.to_datetime(log_c['START_TIME'], format='%d/%m/%Y %H:%M')
C:\Users\JUMIA-4237\AppData\Local\Temp\ipykernel_15840\3951537735.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  log_c['END_TIME'] = pd.to_datetime(log_c['END_TIME'], format='%d/%m/%Y %H:%M')

In [60]:
log_c['DURATION_HOURS'] = (log_c['END_TIME'] - log_c['START_TIME']).dt.total_seconds() / 3600
log_c['DURATION_DAYS'] = log_c['DURATION_HOURS'] / 24

C:\Users\JUMIA-4237\AppData\Local\Temp\ipykernel_15840\1108978455.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  log_c['DURATION_HOURS'] = (log_c['END_TIME'] - log_c['START_TIME']).dt.total_seconds() / 3600
C:\Users\JUMIA-4237\AppData\Local\Temp\ipykernel_15840\1108978455.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  log_c['DURATION_DAYS'] = log_c['DURATION_HOURS'] / 24

In [61]:
log_c['MONTH'] = log_c['START_TIME'].dt.strftime('%B')

C:\Users\JUMIA-4237\AppData\Local\Temp\ipykernel_15840\4187786053.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  log_c['MONTH'] = log_c['START_TIME'].dt.strftime('%B')

In [66]:
log_cl['WEEK'] = log_cl['START_TIME'].apply(lambda x: f"Week{x.strftime('%U')}")

C:\Users\JUMIA-4237\AppData\Local\Temp\ipykernel_15840\3353875443.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  log_cl['WEEK'] = log_cl['START_TIME'].apply(lambda x: f"Week{x.strftime('%U')}")

In [63]:
log_cl['DURATION_HOURS'] = log_cl['DURATION_HOURS'].round(3)
log_cl['DURATION_DAYS'] = log_cl['DURATION_DAYS'].round(3)

C:\Users\JUMIA-4237\AppData\Local\Temp\ipykernel_15840\2970842361.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  log_cl['DURATION_HOURS'] = log_cl['DURATION_HOURS'].round(3)
C:\Users\JUMIA-4237\AppData\Local\Temp\ipykernel_15840\2970842361.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  log_cl['DURATION_DAYS'] = log_cl['DURATION_DAYS'].round(3)

In [67]:
log_cl = log_c

In [68]:
log_cl.head(3)

,TXN NO,MAIN FTN CODE,Vehicle Number,Txn Code,REGION,SUBZONE,USED AS,VEHICLE TYPE,CR DT,Main FTN,...,Sub FTN,TIME SERIES,FLEET STATUS,START_TIME,END_TIME,TRACKER,DURATION_HOURS,DURATION_DAYS,MONTH,WEEK
0,1350073,FT004,AKD187YA,FTBLAL,LAGOS,LAGOS 2,DELIVERY TRUCK,DELIVERY TRUCK,06-Mar-24,LOADING,...,AWAITING LOADING,NO-Loading Oder,No loading order,2024-05-01,2024-05-01 08:45:00,LAWAL ADETUNEJI,8.750000,0.364583,May,Week17
1,1377863,FT006,KSF591XX,FTBLTW,Kano,NORTH 1,DELIVERY TRUCK,DELIVERY TRUCK,01-Apr-24,WORKSHOP,...,WORKSHOP,WORKSHOP,WORKSHOP,2024-05-01,2024-05-01 15:08:00,BUHARI MONSURU,15.133333,0.630556,May,Week17
2,1381366,FT006,SGM514ZR,FTBLTW,LAGOS,SOUTH WEST,DELIVERY TRUCK,DELIVERY TRUCK,03-Apr-24,WORKSHOP,...,WORKSHOP,WORKSHOP,WORKSHOP,2024-05-01,2024-05-29 15:00:00,ITUNU ALAUSA,687.000000,28.625000,May,Week17

In [69]:
file_path = r"C:\Users\JUMIA-4237\Desktop\Mr Lanre\log_cl.csv"
log_cl.to_csv(file_path, index=False)

file_path

'C:\\Users\\JUMIA-4237\\Desktop\\Mr Lanre\\log_cl.csv'